.trigger {
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color .3s;
  &:hover {
    color: #108ee9;
  }
}

.logOut {
  float: right;
  width: 100px;
  margin-top: 7px!important;
}

.screenFull {
  font-size: 14px;
  cursor: pointer;
  transition: color .3s;
  float: right;
  margin-top: 13px;
  padding: 10px;
  &:hover {
    color: #108ee9;
  }
}

.custom-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 40px;
  line-height: 1;
  border-radius: 500px;
  white-space: nowrap;
  font-weight: bold;
  i {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    margin: 1px;
    border-width: 2px;
    border-style: solid;
    border-radius: 100%;
    &.bottom {
      left: auto;
      top: auto;
      bottom: 0;
      right: 0;
    }
    &.on {
      background-color: #6cc788;
    }
  }
  img {
    border-radius: 500px;
    width: 100%;
  }
}

.ant-menu-submenu-title{
  font-size: 12px !important;
}
.ant-menu-item{
  font-size: 12px !important;
}