#root{
    height: 100%;
}
.ant-layout{
    height: 100%;
.logo{
    height: 32px;
    text-align: center;
    border-radius: 6px;
    margin: 16px;
.github {
    font-size: 36px;
    margin: 0 auto;
}
.white {
    color: white
}
}
.ant-layout-sider-collapsed{
.anticon{
    font-size: 16px;
    margin-left: 8px;
}
.nav-text{
    display: none;
}
.ant-menu-submenu-vertical > .ant-menu-submenu-title:after{
    display: none;
}
.ant-menu-dark:not(.ant-menu-inline) .ant-menu-submenu-open {
    color: inherit;
}
}
p {
    margin: 10px 0 10px 0;
}
}
.gutter-example{
.ant-row{
//margin-left: 0 !important;
//margin-right: 0 !important;
>div{
    background: transparent;
    border: 0;
}
}
}
.gutter-box {
    padding: 5px 0;
}

:global {
.ant-card-head-title {
    font-size: 14px !important;
}
}

/*//设置菜单选中背景色*/
.ant-menu-item-selected {
    background-color: rgba(169, 169, 169, 0.521) !important;
}
/*// 设置菜单折叠时icon居中*/
.ant-layout .ant-layout-sider-collapsed .anticon {
    margin-left: 0 !important;
}
